* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    background-color: #f1f2f4;
    overflow-x: hidden;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

/* Navigation Bar */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    z-index: 9999;
    background-color: #fff;
    height: 67.2px;
    padding: 12px 28px;
    width: 100%;
}

.logo {
    margin-right: 36px;
}

.searchbar {
    display: flex;
    align-items: center;
}

.searchbar svg {
    height: 40px;
    padding: 0 12px;
    background-color: #f0f5ff;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.searchbar input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 400;
    background-color: #f0f5ff;
    width: 700px;
    height: 40px;
    border: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.userlogin {
    padding: 0 20px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}

.login {
    margin: 0 8px 0 0;
}

.arrowdown {
    margin: 0 0 0 8px;
}

.cart {
    padding: 0 20px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}

.cartsvg {
    margin: 0 8px 0 0;
}

.seller {
    padding: 0 20px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}

.storesvg {
    margin-right: 8px;
}

.dotsvg {
    margin-left: 45px;
}

/* Box 1  */

main {
    position: relative;
    top: 67.2px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
    font-size: 14px;
    font-weight: 400;
    padding: 20px 167px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #fff;
    margin: 8px 16px;
}

/* Box 2 */

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin: 8px 16px;
}

/* Box 3 */

.container3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px 16px;
}

.left {
    background-color: #ffffff;
    padding-left: 6px;
    margin-right: 8px;
}

.hdcont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin: 16px 0;
}

.sdimg img {
    margin-left: 8px;

}

.contbox {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.c3b {
    width: 213px;
    height: 252px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    padding: 6px;
    text-align: center;
    margin: 16px 8px 16px 8px;
}

/* Box 4 */

.container4 {
    padding: 25px;
    margin-top: 25px;
    background-color: #f5f5f5;
    color: #565656;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: left;
    line-height: 1.5;
    font-weight: 400;
}

.container4 h1 {
    padding: 14px 0;
    margin-top: 14px;
    font-size: 16px;
    font-weight: 700;
}

.container4 h2 {
    font-size: 14px;
    font-weight: 700;
}

/* Box 5 */

footer {
    margin-top: auto;
}

.container5 {
    padding: 25px 65px;
    background-color: #282828;
}

.grid {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}

.grid p {
    margin-bottom: 10px;
}

.grid1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #878787;
    padding: 30px 0;
}

.grid1 a {
    text-decoration: none;
    color: #ffffff;
}

.item {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #ffffff;
    border-left: 1px solid #454d5e;
    padding: 30px 30px;
}

.item1 p:first-child {
    color: #878787;
    margin-bottom: 10px;
}

.separation {
    border-bottom: 1px solid #454d5e;
}

/* Footer */

.footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #282828;
    font-size: 12px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}

.ftrb {
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #ffffff;
}

@media screen and (max-width: 1150px) {


    .logo {
        position: relative;
        left: 120px
    }

    .searchbar {
        position: relative;
        left: 110px;
    }

    .userlogin {
        position: relative;
        left: 115px;
    }

    .cart {
        visibility: hidden;
    }

    .seller {
        visibility: hidden;
    }

    .dotsvg {
        visibility: hidden;
    }

    .container1 {
        flex-wrap: wrap;
    }
    main {
        align-items: start;
    }
    
    .container4 {
        visibility: hidden;
    }

    footer {
        visibility: hidden;
    }

}

